:root {
    --background-color: #191b28;
    --primary-color: #28a745;
    --secondary-color: #ff6f61;
    --divider-color: rgba(255, 255, 255, 0.1);
    --button-bg-color: #333d4b;
    --buton-hover-color: #28a745;
    --button-hover-bg-color: #333d4b;
    --text-color: #e0e0e0;
    --input-bg-color: #2e3a47;
    --input-border-color: #4b5a6d;
    --input-focus-color: #28a745;
    --card-bg-color: #2a2f3d;
}

html, body {
    height: 100%;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}


::selection {
    background-color: var(--primary-color);
    color: var(--background-color);
}


/* Scrollbar customization */
body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-track {
    box-shadow: var(--background-color);
    background-color: var(--background-color);
}

body::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-color: var(--primary-color);
    outline: 1px solid var(--background-color);
}
